@*@using SpaceStrategy.Models*@


@*@using ChessMemoryServer.Models.

@model IndexViewModelUser*@


@{
    ViewData["Title"] = "Home Page";
}
<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }
</style>
<h2>Список пользователей : @Model.PageViewModel.Count </h2>



@*<p>
        <a asp-action="Create">Добавить пользователя</a>
    </p>*@



@*Поиск*@
<br />
<form method="get">
    <div class="form-inline">
        <label>Email : </label>
        <input name="email" value="@Model.PageViewModel.Name" class="form-control" />

        <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
    </div>
</form>
<br />






<table class="table">
    <tr><th>Аватар</th><th>Email</th><th>Год</th><th>Ip</th><th>Roles</th></tr>
    @foreach (var user in Model.Users)
    {
<tr>

    <td>
        @if (user.Avatar != null)
        {
            <a asp-controller="Profile" asp-action="UserProfile" asp-route-id="@user.Id"><img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(user.Avatar))" /></a>
        }
        else
        {
            <a asp-controller="Profile" asp-action="UserProfile" asp-route-id="@user.Id"> <img style='width:80px; height:60px;' src="~/images/placeholder.png" /></a>
        }

    </td>
    <td>@user.Email</td>

    <td>@user.Year</td>
    <td>@user.IpAdress</td>

    <td>
        <a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>

        <br />
        <br />

        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
            <button type="submit" class="btn btn-sm btn-danger">
                Удалить
            </button>
        </form>



    </td>
</tr>
    }
</table>








@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index" asp-route-email="@(Model.PageViewModel.Name)" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index" asp-route-email="@(Model.PageViewModel.Name)" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

